@{
    Layout = null;
}

@model webZone.ViewModels.ImpulseViewModel

@if(Model == null){
    <h1>No project selected.</h1>
}
else{
    <script src="~/phaser/phaser.js"></script>
    foreach(var file in Model.projectFiles){
        if(file.type == "javascript"){
            <script src="~/projects/@(Model.project.rootFolder)/@(file.name)"></script>
        }
    }
}

@*
@section scripts {
    <script src="~/phaser/phaser.js"></script>
    @foreach(var file in Model.projectFiles){
        if(file.type == "javascript"){
            <script src="~/projects/@(Model.project.rootFolder)/@(file.name)"></script>
        }
    }
}
*@