@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model webZone.ViewModels.LoginViewModel

<div class="container"><h1>Dashboard</h1></div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-8">
            <h1>Hello @Model.username</h1>
        </div>
    </div>
</div>