@model webZone.ViewModels.LoginViewModel
﻿@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">
    <form method="post">
        <label for="loginUsername">Username: </label> 
        <input type="text" name="loginUsername" >
        <label for="loginPassword">Password: </label> 
        <input type="password" name="loginPassword" >

        <input type="submit" value="Login" />
    </form>
</div>