@{
    ViewData["Title"] = "Youframe";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<iframe width="955" scrolling="auto" height="385" frameborder="0" src="http://192.168.201.221/boxroom"></iframe>
<iframe width="955" scrolling="auto" height="385" frameborder="0" src="https://ecommerce.store-it365.eu/DEMOUK/rentbox"></iframe>
