@model webZone.ViewModels.RotideViewModel

﻿@{
    ViewData["Title"] = "Rotide";
 }

<link rel="stylesheet" href="css/codemirror.css"/>
<link rel="stylesheet" href="css/monokai.css"/>
<link rel="stylesheet" href="css/rotide.css"/>

@* Context-menu Directories *@
<div id="ctxMenuDir" hidden>
    <ul class="items">
        <li>Add new file</li>
    </ul>
</div>

@* Context-menu Files *@
<div id="ctxMenuFile" hidden>
    <ul class="items">
        <li>Duplicate</li>
        <li>Remove file</li>
    </ul>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddmProjectSelect"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select project
            </button>
            <div class="dropdown-menu" aria-labelledby="ddmProjectSelect">
                @foreach(var project in Model.projects)
                {
                    <a class="dropdown-item">@project.name</a>
                }
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-2">
            <div class="fileTree"></div>
        </div>
        <div class="col-lg-10">
            <textarea id="textInput" class="rotide-editor"></textarea>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg">
            <input id="filePath" type="text">
        </div>
        <div class="col-lg">
            <button onclick="SaveFile()">Save file</button>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/jQueryFileTree.js"></script>
    <script src="~/js/codemirror.js"></script>
    <script src="~/js/mode/javascript/javascript.js"></script>
    <script src="~/js/mode/clike/clike.js"></script>
    <script src="~/js/mode/css/css.js"></script>
    <script src="~/js/mode/htmlmixed/htmlmixed.js"></script>
    <script src="~/js/mode/lua/lua.js"></script>
    <script src="~/js/mode/markdown/markdown.js"></script>
    <script src="~/js/mode/php/php.js"></script>
    <script src="~/js/mode/python/python.js"></script>
    <script src="~/js/mode/sql/sql.js"></script>
    <script src="~/js/mode/xml/xml.js"></script>

    <!-- Rotide -->
    <script src="~/js/rotide.js"></script>
}
