@model webZone.ViewModels.RotideViewModel

﻿@{
    ViewData["Title"] = "Rotide";
 }

<link rel="stylesheet" href="css/codemirror.css"/>
<link rel="stylesheet" href="css/monokai.css"/>
<style>
    .body-rotide {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .fileTree {
        border: black solid 1px;
    }

    .rotide-editor {
        width: 100%;
    }

    .project-selector {
        left: 200px;
    }
</style>

<div class="container body-content body-rotide">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <select class="select project-selector">
                @foreach(var project in Model.projects)
                {
                    <option value="@project.name">@project.name</option>
                }
            </select>
        </div>
        <div class="col-sm"></div>
    </div>
    
    <div class="row">
        <div>
            <div class="fileTree"></div>
        </div>
        <div class="col-lg-offset-3 col-lg-9">
            <textarea id="textInput" class="rotide-editor"></textarea>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4">
            <input id="filePath" type="text">
        </div>
        <div class="col-lg-4">
            <button onclick="SaveFile()">Save file</button>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/jQueryFileTree.js"></script>
    <script src="~/js/codemirror.js"></script>
    <script src="~/js/mode/javascript/javascript.js"></script>
    <script src="~/js/mode/clike/clike.js"></script>
    <script src="~/js/mode/css/css.js"></script>
    <script src="~/js/mode/htmlmixed/htmlmixed.js"></script>
    <script src="~/js/mode/lua/lua.js"></script>
    <script src="~/js/mode/markdown/markdown.js"></script>
    <script src="~/js/mode/php/php.js"></script>
    <script src="~/js/mode/python/python.js"></script>
    <script src="~/js/mode/sql/sql.js"></script>
    <script src="~/js/mode/xml/xml.js"></script>

    <!-- Rotide -->
    <script src="~/js/rotide.js"></script>
}
